[submodule "lib/NWabiSabi"]
	path = lib/NWabiSabi
	url = https://github.com/Kukks/NWabiSabi.git
	branch = kompaktor/net10-compat
[submodule "lib/NBullet"]
	path = lib/NBullet
	url = https://github.com/Kukks/NBullet
